<!-- books_by_category.html -->

{% block content %}
<style>
    body{
        background-color: rgb(194, 178, 151);
    }
    .books {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .book {
        width: calc(33.33% - 10px); 
        margin-bottom: 100px;
        box-sizing: border-box;
        text-align: center;
    }

    
    .book img {
        width: auto; 
        height: 300px; 
        object-fit: cover; 
        margin-bottom: 10px; 
    }


</style>
<body>
    <h1>{{ category }}</h1>
    <div class="books">
        {% for book in books %}
        <div class="book">
            <img src="{{ book.image }}" alt="{{ book.name }}">
            <h3>{{ book.name }}</h3>
            <p>Prix: {{ book.price }} €</p>
            <a href="{{ book.url }}">Plus d'info</a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

</body>

